.AddFolder {
  display: flex;
  flex-direction: column;
}

.AddFolder form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.AddFolder label {
  color: var(--color-secondary);
  font-weight: 700;
  display: block;
  margin-top: 2rem;
}

.nav-input {
  padding: 1rem 0.5rem;
  margin: 0.5rem 0;
  text-decoration: none;
  color: var(--color-text-lt);
  background-color: var(--color-secondary);
}

.error-msg {
  color: var(--color-surface);
  font-weight: 700;
  text-transform: uppercase;
  max-width: 10rem;
}
