.note-tile-full {
  max-width: 37.5rem;
  background-color: var(--color-white);
  color: var(--color-surface);
  margin: 1rem auto;
  padding: 2rem;
}

.note-tile-full h3 {
  font-size: 2rem;
}

.note-tile-full a {
  color: var(--color-surface);
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 2px;
}

.NoteBody p {
  max-width: 37.5rem;
  margin: 2rem auto;
}
